#bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

}

.container{
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
