<div class="container" *ngIf="passedAssignment">
  <mat-card>
    <mat-card-title>
      {{ passedAssignment.name }}
    </mat-card-title>
    <mat-card-subtitle>{{ passedAssignment.dueDate | date }}</mat-card-subtitle>
    <div id="bottom">
      <mat-checkbox
        (click)="onAssigmentSubmitted()"
        *ngIf="passedAssignment.submitted === false"
        >check as submitted</mat-checkbox
      >
      <nav>
        <a [routerLink]="['/assignment', 1,'edit']">
          <button mat-raised-button color="primary"  (click)="onClickEdit()" #edit>Edit</button>
        </a>
      </nav>
      <button mat-raised-button color="warn" (click)="onDelete()" #delete>
        delete
      </button>
    </div>
  </mat-card>
</div>
