<!-- <div *ngFor= 'let assigment of assigments'
 [ngStyle]='{'color':assigment.submitted === false ? 'red' : 'green'}'> -->
<!--
 <div *ngFor= 'let assigment of assigments'
  [ngClass]='{'submitted':assigment.submitted === true , 'unsubmitted': assigment.submitted === false}'
 > -->
<main class = 'conainer' *ngIf='formVisible === false'>
  <button class="addBtn" mat-raised-button color='accent' (click)='onAddBtnClick()'>
    Add Assignment
  </button>

  <mat-list *ngFor='let assigment of assigments'>
    <h3 mat-subheader>{{ assigment.dueDate | date }}</h3>
    <mat-list-item (click)='setSelected(assigment)'>
      <p appSubmitted *ngIf='assigment.submitted; else unsubmitted'>
        {{ assigment.name }} has bee sumbitted
      </p>
      <ng-template #unsubmitted>
        <p appUnsubmitted>{{ assigment.name }} has not been subimtted</p>
      </ng-template>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</main>

<app-add-assignment
  *ngIf='formVisible'
  (newAssignment)='onNewAssigment($event)'
></app-add-assignment>

<app-assigment-detail
  [passedAssignment]='selectedAssignment'
></app-assigment-detail>
